.button {
    position: relative;
    list-style: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: grab;
  }
  
  .button .svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
  }
  
  .button .svg2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: #f4af03;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .button:hover .svg {
    fill: #f4af03;
  }
  
  .button:hover .svg2 {
    opacity: 1;
    fill: #f4af03;
  }